.grid {
  width: 100%;
  thead {
    background-color: cornflowerblue;
    color: white;
  }
  tbody {
    tr:nth-child(2n) {
      background-color: rgba(100, 148, 237, 0.08);
    }

    tr:hover {
      cursor: pointer;
      background-color: rgba(100, 148, 237, 0.2);
    }
  }
}
