.grid {
  width: 100%;
  @border: 1px solid rgba(0, 0, 0, 0.12);
  border: @border;

  thead {
    background-color: cornflowerblue;
    color: white;
  }
  tbody {
    tr:nth-child(2n) {
      background-color: rgba(100, 148, 237, 0.08);
    }

    tr:hover {
      cursor: pointer;
      background-color: rgba(100, 148, 237, 0.2);
    }
  }

  .grid-row {
    padding: 20px;

    border-bottom: @border;
  }
}

.status {
  @size: 10px;
  display: inline-block;
  width: @size;
  height: @size;
  margin: 2px;
  border-radius: 50%;

  &.new {
    background-color: green;
  }
  &.edit {
    background-color: gold;
  }

  &.old {
    background-color: cornflowerblue;
  }
}
