.message {
  border: 1px solid lightgray;
  padding: 10px;
}
.pd-l-10 {
  padding: 10px;
}
.pd-b-20 {
  padding-bottom: 20px;
}

body * {
  font-size: 20pt;
}
.details-form-field {
  padding: 10px 0px;
}

.error {
  color: red;
}

.jsgrid-delete-button {
  display: none;
}

.loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1000;
  background: #000;
}

#app-log {
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 100;
  color: red;
  background-color: rgba(220, 220, 220, 0.5);
  display: none;
}

#room-info {
  width: 18%;
  display: inline-block;
  float: right;
  padding: 1%;
}

#room-users {
  padding: 0;
}

#room-users > li {
  padding: 10px;
  margin: 5px;
  list-style: none;
  box-shadow: 1px 1px 1px 1px grey;
}

#room-users > li:hover,
#room-users > li:active {
  background-color: rgba(172, 255, 47, 0.2);
}
