@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #ffffff;
	//font-family: "Segoe UI";
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}


h2 {
	margin: 10px 0px;

	* {
		vertical-align: middle;
	}
}

ul {
	margin: 0px;
	padding: 0px;
}
