.dialog {
  position: absolute;

  //width: 700px;
  height: auto;

  padding: 10px;

  background-color: white;
  box-shadow: 1px 1px 1px 1px grey;

  input[type="text"],
  input[type="number"],
  input[type="password"],
  [contentEditable] {
    box-sizing: border-box;
    border: 1px solid gray;
    margin: 2px;
    padding: 4px;
  }

  .controls {
    justify-content: space-around;
  }
}
