.login-form {

	p {
		height: 40px;
		background-color: rgba(0,0,0,0.1);


		label {
			position: relative;
			display: flex;

			span {
				display: inline-block;
				margin: 10px;
			}
		}
	}
}
