.transaction-dialog {
  .details-form-field.fl-row {
    align-items: center;
  }

  .details-form-field label {
    user-select: none;
  }

  input[type="number"] {
    width: 150px;
  }

  .controls {
    justify-content: space-around;
  }

  input[type="checkbox"] {
    transform: scale(1.5);
  }
}
