<svg height="100%" width="100%">

	<image xlink:href="Assets/images/usa-map-mine.png" x="0" y="0" height="1000" width="1600" ></image>

	<line ng-repeat="connector in $ctrl.connectors"
			class="connector"
			ng-attr-x1="{{$ctrl.getCityCoords(connector.City1Key).CoordX}}"
			ng-attr-y1="{{$ctrl.getCityCoords(connector.City1Key).CoordY}}"
			ng-attr-x2="{{$ctrl.getCityCoords(connector.City2Key).CoordX}}"
			ng-attr-y2="{{$ctrl.getCityCoords(connector.City2Key).CoordY}}"
	></line>

	<polygon ng-repeat="region in $ctrl.regions"
				class="region" ng-class="region.Id"
				ng-attr-points="{{ region.Points }}"></polygon>

	<circle ng-repeat="city in $ctrl.cities"
			  class="city"
			  ng-attr-cx="{{city.CoordX}}" ng-attr-cy="{{city.CoordY}}"
			  ng-attr-fill="{{city.RegionKey}}"
			  stroke="black"
			  r="30"
	></circle>

	<text ng-repeat="city in $ctrl.cities"
			ng-attr-x="{{city.CoordX}}" ng-attr-y="{{city.CoordY}}">
		{{ city.Name }}
	</text>

	<text ng-repeat="connector in $ctrl.connectors"
			class="cost"
			ng-attr-x="{{ connector && $ctrl.getCostCoords(connector).CoordX }}"
			ng-attr-y="{{ connector && $ctrl.getCostCoords(connector).CoordY }}">
		{{ connector.Cost }}
	</text>




</svg>


<div class="panel" hidden>
	<h2>cities</h2>

	<div class="list-panel">
		<ul>
			<li ng-repeat="city in $ctrl.cities">
				{{city.Name}} {{city.CoordX}} {{city.CoordY}}
			</li>
		</ul>
	</div>


</div>
