<svg height="100%" width="100%">

	<image xlink:href="Assets/images/usa-map-mine.png" x="0" y="0" height="1000" width="1600"></image>
	<image xlink:href="Assets/images/pg-map-1.png" x="0" y="0" height="1000" width="1600"></image>

	<!-- CONNECTOR -->
	<line ng-repeat="connector in $ctrl.connectors"
			class="connector"
			ng-attr-x1="{{$ctrl.getCityCoords(connector.City1Key).CoordX}}"
			ng-attr-y1="{{$ctrl.getCityCoords(connector.City1Key).CoordY}}"
			ng-attr-x2="{{$ctrl.getCityCoords(connector.City2Key).CoordX}}"
			ng-attr-y2="{{$ctrl.getCityCoords(connector.City2Key).CoordY}}"
	></line>

	<!-- REGION -->
	<polygon ng-repeat="region in $ctrl.regions"
				class="region" ng-class="region.Id"
				ng-attr-points="{{ region.Points }}"></polygon>


	<!-- CITY -->
	<circle ng-repeat="city in $ctrl.cities"
			  class="city-marker"
			  ng-attr-cx="{{city.CoordX}}" ng-attr-cy="{{city.CoordY}}"
			  ng-attr-fill="{{city.RegionKey}}"
	></circle>
	<text ng-repeat="city in $ctrl.cities"
			class="city-name"
			ng-attr-x="{{city.CoordX}}" ng-attr-y="{{city.CoordY}}">
		{{ city.Name }}
	</text>

	<!-- COSTS -->
	<circle ng-repeat="connector in $ctrl.connectors"
			  class="cost-marker"
			  ng-attr-cx="{{ connector && $ctrl.getCostCoords(connector).CoordX }}"
			  ng-attr-cy="{{ connector && $ctrl.getCostCoords(connector).CoordY }}"
	></circle>
	<text ng-repeat="connector in $ctrl.connectors"
			class="cost-text"
			ng-attr-x="{{ connector && $ctrl.getCostCoords(connector).CoordX }}"
			ng-attr-y="{{ connector && $ctrl.getCostCoords(connector).CoordY }}">
		{{ connector.Cost }}
	</text>


</svg>


<div class="panel" hidden>
	<h2>cities</h2>

	<div class="list-panel">
		<ul>
			<li ng-repeat="city in $ctrl.cities">
				{{city.Name}} {{city.CoordX}} {{city.CoordY}}
			</li>
		</ul>
	</div>


</div>
