game {
  .list-panel {
    max-height: 70vh;
    overflow-y: auto;

    background-color: darken(@global-panel-bg, 10%);

    .scroll-bar(
      @bg-color: darken(@global-panel-bg,10%);
      @thumb-color:@global-panel-bg;);
  }

  svg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;

    //z-index: -1;

    .city{
      opacity: 0.7;
    }

    .region.purple {
      stroke: fadeout(white, 50%);
      stroke-width: 2;
      fill: transparent;

    }


    text{
      font-family: 'Arial Black';
      font-size: 18px;
      stroke: #000000;
      fill: #ffffff;
    }

  }

  svg .region:hover {
    fill: fadeout(violet, 50%);
  }

}
