<svg height="100%" width="100%">

	<image xlink:href="Assets/images/usa-map-mine.png" x="0" y="0" height="1000" width="1600"/>


	<polygon class="region purple" points="10,10 645,20 685,190 890,290 890,375 515,460 450,300 0,300"></polygon>

	<circle ng-repeat="city in $ctrl.cities"
			  class="city"
			  cx="{{city.CoordX}}" cy="{{city.CoordY}}"
			  fill="{{city.RegionKey}}"
			  stroke="black"
			  r="30"
	></circle>

	<text ng-repeat="city in $ctrl.cities"
			x="{{city.CoordX}}" y="{{city.CoordY}}">
		{{ city.Name }}
	</text>

</svg>


<div class="panel" hidden>
	<h2>cities</h2>

	<div class="list-panel">
		<ul>
			<li ng-repeat="city in $ctrl.cities">
				{{city.Name}} {{city.CoordX}} {{city.CoordY}}
			</li>
		</ul>
	</div>


</div>
