<div class="panel">
	<h2>
		<pg-button icon="'arrow_back'"
					  ng-click="$ctrl.leaveRoom()"></pg-button>
		{{$ctrl.room.Name}}
		<i class="material-icons">group</i>
		{{($ctrl.users | async).length }}
	</h2>
	<div class="user-list">

		<!--on-kick="$ctrl.kickUser(user.Id)"-->
		<room-user class="list-item is-selected"
					  user="$ctrl.currentUser | async "

					  on-ready="$ctrl.toggleReady(user.IsDone)"
		></room-user>

		<room-user ng-repeat="user in $ctrl.otherUsers | async"
					  class="list-item"
					  user="user"
		></room-user>

	</div>

	<pg-button value="'add bot'" icon="'android'"
				  on-click="$ctrl.addBot()"></pg-button>

	<pg-button value="'start game'" icon="'airport_shuttle'"
				  on-click="$ctrl.startGame()"></pg-button>
</div>
