chat {
  position: absolute;

  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;

  width: 50vw;
  min-width: @global-min-width/2;
  max-width: @global-min-width;

  transition: 300ms left ease-in-out;

  left: 0px;
  &:not(.is-open) {
    left: -50vw;
  }

  .message-container {
    flex: 1 1 auto;

    overflow: hidden;
    overflow-y: auto;

    .scroll-bar(
      @bg-color: darken(@global-panel-bg,10%);
      @thumb-color: @global-panel-bg;);
  }

  .message-list {

    display: flex;

    flex-direction: column;
    align-items: flex-start;

  }

  .message-box {
    flex: 0 0 50px;
    display: flex;

    pg-input,
    pg-textarea {
      flex: 1 1 auto;
      margin: 4px;
    }

    pg-button > {
      flex: 0 0 auto;
    }

  }
}
