chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;

  .message-container{
    flex: 1 1 auto;

    overflow: hidden;
    overflow-y: auto;


    .scroll-bar(
      @bg-color: darken(@global-panel-bg,10%);
      @thumb-color: @global-panel-bg;);
  }

  .message-list {

    display: flex;

    flex-direction: column;
    align-items: flex-start;


  }

  .message-box {
    flex: 0 0 auto;
    display: flex;

    pg-input {
      margin: 4px;
    }

    * > {
      flex: 1 1 auto;

    }

  }
}
